{% extends 'source.html' %}

{% block bootstrap_extra_head %}
{% endblock %}

{% block bootstrap3_content %}

<!-- <div class="container"> 
<nav class="navbar navbar-fixed-top navbar-color">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-book nav-brand-icon" aria-hidden="true"></span>
                SafeRoute
            </a>
            <ul class="nav navbar-nav">
                <li><a href="#" class="">Home</a></li>
            </ul>
        </div>
    </div>
</nav>
</div> -->

{% block content %} Empty page {% endblock %}

    <p><hr></p>
<!-- 
<footer class="footer">
        <div class="container">
            <div class="col-md-offset-5 col-md-6" style="text-align:right">
                <p>
                    Pandora Hackathon
                </p>
            </div>
        </div>
</footer> -->
    
{% endblock %}

{% block javascript %}

<script language="javascript" type="text/javascript">
</script>

{% endblock %}
