{% extends 'base.html' %}
{% block bootstrap_extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript"
  		src="https://maps.googleapis.com/maps/api/js?libraries=visualization"></script>
    {% load static %}
   <script>
   	var points = {{ points|safe }};
   	var start = {{ start|safe}};
   	var end = {{ end|safe}};

    var dangermode=false;
   </script>
   <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
    <script src="static/js/app.js"></script>

{% endblock %}
{% block content %}
<div class='container'>
    <div id="inputs">
	   	<!-- <div class="col-md-1"></div> -->
	    <div class="col-md-3" id="logo">
			<img src="{% static 'img/logo3.png' %}" onclick="goDanger();" style="width:200px">
		</div>
		<div class="top30">
			<div>
				<input class="col-md-3 form-control input-box" id="start" placeholder="Start">
			</div>
			<input class="col-offset-1 col-md-3 form-control input-box" id="end" placeholder="End">
	    </div>
	       <!--  <div>
	       		<div class="textlabel">Start</div><textarea id="start">2101 Webster Street, Oakland CA 94612</textarea></span>
	       	</div>
	       	<div>
	        	<div class="textlabel">End</div><textarea id="end">600 William Street, Oakland CA 94612</textarea>
	    	</div> -->
	      <!-- </div> -->
	    <div class="btn btn-primary calcButton" onClick='calcRoute()'>
	    	Find Safe Route
	    </div>
      <!-- <div class="btn btn-info" onClick="clearAll();">Clear</div> -->
      <div class="btn btn-info" onClick='calcHeatMap()'>HeatMap</div>
 	</div>
    <div class="top30" id="map"></div>
</div>

<script language="javascript" type="text/javascript">
function goDanger() {
	var start = document.getElementById("start").value;
   	var end = document.getElementById("end").value;

	window.location = window.location.pathname + "daredevil" + "/" +
	"start=" + start + "+" + "end=" + end
}
</script>
{% endblock %}
