<!DOCTYPE html>
<html>
  <head>
  	{% load static %}
    	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}"> 
    	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
      <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"
      <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    	<script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <title>{% block bootstrap3_title %}SafeRoute{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block bootstrap_extra_head %}{% endblock %}
  </head>
  <body>
    {% block bootstrap3_content %}{% endblock %}
  </body>
</html>