.navbar-color {
	background-color: hsl(210, 20%, 80%);
}

body {
	font-weight: 200;				
}

#inputs > img{
	width: 300px;
	height: auto;
}

textarea {
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;	padding: 5px;
	font-family: Helvetica, sans-serif;
	/* background-image: url(bg.gif);
	background-position: bottom right;
	background-repeat: no-repeat; */
}

textarea#start {
	width: 250px;
	height: 60px;
}
textarea#end {
	width: 250px;
	height: 60px;
}

#logo{
	width: 100px;
	height: 100%;
	padding-right: 250px;
}

#map {
	width: 1100px;
	height: 500px;
}

div#inputs {
	width: 1100px;
	text-align: center;
	margin-top: 36px;
	margin-bottom: 36px;
	padding-bottom: 30px;
}

div#inputs > div {
}

div#inputs div.textinputs {
	margin-top: 1em;
	position: relative;
}

div#inputs div.textinputs span {
	position: relative;
}

div#inputs div.textinputs textarea {
	position: relative;
	resize: none;
}

div#inputs div.textlabel {
	position:absolute;
	width:200px;
	/*float:left;*/
	left: 0.4em;
	top: -68px;
	color: hsl(210, 10%, 40%);
}

div#inputs div.mainButton button {
	padding: 0.5em;
	font-size: 2.0em;
}

.input-box{
	width:300px;
}

.top30{
	padding-top: 30px;
}

./*danger_background{
	background-color: black;
}*/
